<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Club's points</title>
</head>
<body>

    {% with messages = get_flashed_messages()%}
    {% if messages %}
        <ul>
       {% for message in messages %}
            <li>{{message}}</li>
        {% endfor %}
       </ul>
    {% endif%}
    {% endwith %}

    <h3>Clubs / Available points</h3>
    <ul>
        {% for club in all_clubs %}
        <li>{{club['name']}}: {{club['points']}}</li>
        {% endfor %}
    </ul>
    <!-- Lien à corriger-->
    <a href="{{ url_for('showSummary')}}">Back to booking</a>